    <div class="card-header">
      Cambio de estados por fecha
    </div>
    <div class="list-group list-group-flush" *ngFor='let c of cambioEstados'>
      <div class="list-group-item">{{ c.nombreEstado }} {{ c.fechaCambio | date : 'yy-mm-dd HH:MM' }}</div>
    </div>
