<div class="container col-md-6">
  <h2 class="alert alert-info" i18n>Solicitar nueva asistencia</h2>
  <div *ngIf="errorSolicitar" class="alert alert-danger">
    <h5 i18n>Error al solicitar la asistencia</h5><br>
    <p i18n>Por favor, utilice algun de los siguientes medios de comunicacion, o intente nuevamente:</p>
    <ul>
      <li *ngFor="let d of datosContacto">
        <b>{{ d.tipo }}</b> {{ d.valor }}
      </li>
    </ul>
  </div>

  <div id="form-solicitar" *ngIf="! errorSolicitar">
    <form #ngAsis="ngForm">
      <div class="form-group">
        <label for="entidad" class="lead" i18n>Elija la entidad para ejecutar la asistencia</label>
        <select class="form-control" [(ngModel)]="model.idEntidad" name="idEntidad" required (change)="revisarEntidadHabilitada()">
          <option value="" selected disabled i18n>Elegir entidad</option>
          <option *ngFor="let e of entidades | keyvalue" [value]="e.key">{{ e.value.nombre }}</option>
        </select>
      </div>

      <div *ngIf="entidadEnCurso" class="alert alert-warning" i18n>
        Tiene una asistencia en curso con esta entidad en este momento, dirijase a <a href="/asistencias/enCurso">solicitudes en curso</a>
      </div>

      <div *ngIf="! entidadHabilitada" class="alert alert-danger">
        <p class="lead" i18n>Entidad no habilitada</p>
        <hr>
        <p i18n>Por favor, utilice algun de los siguientes medios de comunicacion:</p>
        <ul>
          <li *ngFor="let d of datosContacto">
            <b>{{ d.tipo }}</b> {{ d.valor }}
          </li>
        </ul>
      </div>

      <div *ngIf="entidadHabilitada && model.idEntidad !== undefined && ! entidadEnCurso">
        <div class="form-group">
          <label for="msg" i18n>Adjuntar mensaje</label>
          <textarea class="form-control" name="mensaje" [(ngModel)]="model.mensaje" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-info" (click)="fileInput.click()">
            <span i18n>Adjuntar archivos</span>
            <input #fileInput type="file" (change)="cargarArchivos($event)" style="display:none;" accept="image/*" />
          </button>
        </div>
        <div class="alert alert-secondary">
          <label class="text-muted" i18n><h3>Archivos adjuntos</h3></label>
          <div *ngIf="archivos.length === 0" class="font-italic text-secondary" i18n>No hay archivos adjuntos</div>
          <table>
              <tr *ngFor="let a of archivos">
                <td id="nombreAdjunto" class="alert">{{a.nombre}}</td>
                <td><button class="btn btn-danger" (click)="eliminarArchivo(a.nombre)"><b>X</b></button></td>
            </tr>
          </table>
        </div>
        <button id="btn-solicitar" type="submit" class="btn btn-lg btn-success" (click)="onSubmit()" i18n>Solicitar</button>
      </div>

    </form>
  </div>
</div>
