<body>
  <main role="main" class="container">
    <div class="jumbotron">
      <h1 i18n>Bienvenido a RescueApp</h1>
      <p class="lead" i18n>Para solicitar una nueva asistencia, presione el siguiente boton</p>
      <a class="btn btn-lg btn-success" routerLink="/asistencias/crear" routerLinkActive="active" i18n>Solicitar asistencia &raquo;</a>
    </div>
  </main>
  <div class="container">
    <!-- Example row of columns -->
    <div class="card-columns">
      <div class="card" *ngFor="let n of noticias">
        <div class="card-body">
          <h2 class="card-title" id="titulo">{{ n.titulo }}</h2>
          <p class="card-text">{{ n.cuerpo }}</p>
        </div>
        <div class="card-footer" 
          [class.alert-info]="n.fuente === 'Municipalidad'"
          [class.alert-success]="n.fuente === 'Provincial'" >
          <label for="titulo"><i>{{ n.autor }} - {{ n.fuente }}</i></label>
        </div>
      </div>
    </div>
  </div>
</body>
