<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ usuario?.nombre }}</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" *ngIf="! asistenciaEnCurso && usuarioLogueado">
      <li class="nav-item">
        <a class="btn btn-dark" routerLink="/noticias" routerLinkActive="active" i18n>Home</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark" routerLink="/asistencias/historial" routerLinkActive="active" i18n>Historial de solicitudes</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark" (click)="logout()" href="/sesion/login" i18n>Salir</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="asistenciaEnCurso && usuarioLogueado">
      <li class="nav-item">
        <button class="btn btn-block btn-info" routerLink="/asistencias/enCurso" routerLinkActive="active" i18n>Solicitar en curso</button>
      </li>
      <li class="nav-item" style="margin-left:10px">
        <button class="btn btn-block btn-success" routerLink="/asistencias/crear" routerLinkActive="active" i18n>Solicitar asistencia</button>
      </li>
    </ul>

  </div>

  <small>
    <button (click)="loadLang('4201')" class="btn btn-dark">English</button>
    <button (click)="loadLang('4200')" class="btn btn-dark" style="margin-left: 5px">Español</button>
  </small>

</nav>


<app-loader></app-loader>
<router-outlet></router-outlet>
