  <div class="card">
    <div class="card-header">
      <h2 i18n>Chat con {{ asistencia.nombreEntidad }}</h2>
      <small>
        <button (click)="toggleMostrarAdjuntos()" class="btn btn-sm btn-link" i18n>{{mostrarAdjuntos?'Ocultar':'Ver'}} adjuntos</button>
        <button (click)="toggleMostrarInformacion()" class="btn btn-sm btn-link" i18n>{{mostrarInformacion?'Ocultar':'Ver'}} informacion</button>
        <button (click)="cancelar()" class="btn btn-sm btn-danger" [hidden]="asistencia.finalizada || asistencia.cancelada" i18n>Cancelar</button>
      </small>
        <div *ngIf="mostrarInformacion">
          <ul>
          <li><b i18n>Entidad involucrada: </b>{{ asistencia.nombreEntidad }}</li>
          <li><b i18n>Estado actual: </b>{{ asistencia.nombreEstado }}</li>
          <li><b i18n>Mensaje adjunto: </b>{{ asistencia.mensaje }}</li>
          <li><b i18n>Fecha solicitada: </b>{{ asistencia.fechaSolicitada | date : 'yy-mm-dd HH:MM' }}</li>
          </ul>
        </div>
        <div *ngIf="enviarFallido" class="alert alert-danger">
            <h5 i18n>Mensaje no enviado</h5><br>
            <p i18n>Por favor, reintente nuevamente</p>
        </div>
        <div *ngIf="asistencia.actualizarFallido" class="alert alert-danger">
            <h5 i18n>Historial no actualizado</h5><br>
            <p i18n>No ha sido posible actualizar los mensajes, por favor reintente nuevamente</p>
        </div>
        <app-adjuntos *ngIf="mostrarAdjuntos"></app-adjuntos>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="height:230px;overflow-y:scroll">
        <div *ngIf="historial == undefined" i18n>Cargando mensajes...</div>
        <div *ngIf="historial?.length == 0" i18n>No hay mensajes</div>
        <div *ngFor="let m of historial">
          <b>
            <label *ngIf="m.cliente === 'entidad'">{{ asistencia.nombreEntidad }}:</label>
            <label *ngIf="m.cliente !== 'entidad'">{{ asistencia.nombreUsuario }}:</label></b>
            {{ m.mensaje }}
        </div>
      </li>
    </ul>
    <div class="card-footer">
    <form #ngAsis="ngForm" (ngSubmit)="onSubmit()" style="margin-top:10px">
      <div class="form-group row">
        <input type="text" placeholder="Presione enter para enviar" i18n-placeholder class="form-control col-xl-10" name="mensaje" id="mensaje" [(ngModel)]="model.mensaje" [disabled]="asistencia.finalizada || asistencia.cancelada" autocomplete="off" autofocus/>
        <button class="btn btn-info col" style="margin-left: 5px;" [disabled]="asistencia.finalizada || asistencia.cancelada" i18n>Enviar</button>
      </div>
    </form>
    </div>
  </div>
