input[type=text] {
  border: 1px solid black;
}

input[type=text]:disabled {
  border: 1px solid gray;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
