<div class="container" style="margin-top:10px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title" i18n>Loguearse a RescueApp</h3>
        </div>
        <div class="card-body">
          <form action="" method="" [formGroup]="form">
            <div class="form-group row">
              <label for="cuil" class="col-md-4 col-form-label text-md-right">CUIL</label>
              <div class="col-md-5">
                <input placeholder="11 11111111 1" type="text" id="cuil" class="form-control" name="cuil" formControlName="cuil" required autofocus>
              </div>
              <small class="text-danger col-md-3" [hidden]="cuil.pristine || ! cuil.invalid" i18n>Ingrese el CUIL correctamente</small>
            </div>

            <div class="form-group row">
              <label for="clave" class="col-md-4 col-form-label text-md-right" i18n>Clave</label>
              <div class="col-md-5">
                <input placeholder="Clave" i18n-placeholder type="password" id="clave" class="form-control" name="clave" formControlName="clave" required>
              </div>
              <small class="text-danger col-md-3" [hidden]="clave.pristine || ! clave.invalid" i18n>Ingrese la clave correctamente</small>
            </div>

            <div class="form-group row justify-content-center">
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()">
                  Login
                </button>
              </div>
              <div class="col-md-4">
                <a href="/sesion/registrar" type="submit" class="btn btn-secondary btn-block" style="color:white" i18n>
                  Registrar
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="inhabilitado" class="row justify-content-center" style="margin-top:10px">
    <div class="col-md-6">
      <div class="alert alert-danger">
        <h5 class="alert-heading" i18n>Usuario inhabilitado</h5>
        <hr>
        <p i18n>Su usuario ha sido inhabilitado debido a su frecuencia de cancelacion de asitencias, por favor dirijase a la estacion policial mas cercana para ser habilitado y pruebe ingresar al sistema nuevamente</p>
      </div>
    </div>
  </div>
  <div *ngIf="verificado" class="row justify-content-center" style="margin-top:10px">
    <div class="col-md-6">
      <div class="alert alert-success">
        <h5 class="alert-heading" i18n>Usuario verificado</h5>
        <hr>
        <p i18n>Ya puede ingresar al sistema</p>
      </div>
    </div>
  </div>
  <div *ngIf="errorLogin" class="row justify-content-center" style="margin-top:10px">
    <div class="col-md-6">
      <div class="alert alert-danger">
        <h5 class="alert-heading" i18n>Error al ingresar al sistema</h5>
        <hr>
        <p i18n>{{ mensajeError }}</p>
      </div>
    </div>
  </div>
</div>
