<div class="container">
  <div class="jumbotron">
    <h1 i18n>Historial de solicitudes</h1>
    <p class="lead" i18n>Historial de asistencias solicitadas, que han sido finalizadas o canceladas</p>
  </div>
  <div class="card-columns">
    <div class="card p-3" style="width:21rem;" *ngFor="let a of asistencias">
      <div class="card-body">
        <h5 class="card-title">{{ a.nombreEntidad }}</h5>
        <p class="card-text">{{ a.mensaje }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ a.fechaSolicitada | date : 'yyyy-MM-dd hh:mm' }}</li>
    <div class="card-header">
      Cambio de estados por fecha
    </div>
    <div class="list-group list-group-flush" *ngFor='let c of a.cambioEstados'>
      <div class="list-group-item">{{ c.nombreEstado }} <span class="text-secondary">{{ c.fechaCambio | date : 'yyyy-MM-dd hh:mm' }}</span></div>
    </div>
      </ul>
      <div class="card-body alert-secondary">
        <a class="card-link" href='/asistencias/static-chat/{{ a.id }}' i18n>Chat</a>
        <a class="card-link" href="https://www.openstreetmap.org/#map=18/{{ a.geolocalizacion }}" i18n>Ubicacion</a>
      </div>
    </div>
  </div>
</div>
