<div class="container col-md-8">
  <div class="alert alert-secondary lead" i18n>
    Asistencias en curso
  </div>
  <div class="row">
    <div class="col-md-4">
      <div *ngFor="let a of asistencias">
        <button class="btn btn-block" 
          [class.btn-primary]="a.nombreEntidad === 'Policia' && (!a.cancelada && !a.finalizada)"
          [class.btn-warning]="a.nombreEntidad === 'Defensa Civil' && (!a.cancelada && !a.finalizada)"
          [class.btn-danger]="a.nombreEntidad === 'Bomberos' && (!a.cancelada && !a.finalizada)"
          [class.btn-info]="a.nombreEntidad === 'Urgencias 107' && (!a.cancelada && !a.finalizada)"
          [class.btn-secondary]="a.cancelada || a.finalizada"
            (click)="cambiarChat(a.id)" style="margin-bottom:5px" i18n>Chat con {{ a.nombreEntidad }}<span *ngIf="a.nuevosMensajes > 0"> {{ a.nuevosMensajes }}</span></button>
      </div>
    </div>
    <div *ngIf="chatSeleccionado" class="col">
      <app-chat></app-chat>
    </div>
  </div>
</div>
