<div class="container" role="main">
<div class="alert alert-danger jumbotron">
<h3 i18n>Usuario inhabilitado</h3>
<p i18n>Su usuario ha sido inhabilitado por la frecuente cancelacion de asistencias, por favor acérquese a la Estación de Policía y requeste su habilitación. Luego vuelva a <a href="/sesion/login">login</a></p>
</div>
