<div class="container" style="margin-top:10px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title" i18n>Registrarse en RescueApp</h3>
        </div>
        <div class="card-body">
          <form action="" method="" [formGroup]="form">

            <div class="form-group row">
              <label for="cuil" class="col-md-4 col-form-label text-md-right">CUIL</label>
              <div class="col-md-5">
                <input placeholder="11 11111111 1" type="text" id="cuil" class="form-control" name="cuil" formControlName="cuil" required autofocus>
              </div>
              <small [hidden]="cuil.pristine || ! cuil.invalid" class="text-danger" i18n>CUIL incorrecto</small>
            </div>

            <div class="form-group row">
              <label for="nombre" class="col-md-4 col-form-label text-md-right" i18n>Nombre</label>
              <div class="col-md-5">
                <input placeholder="Nombre" i18n-placeholder type="text" id="nombre" class="form-control" name="nombre" formControlName="nombre" required autofocus>
              </div>
              <small [hidden]="nombre.pristine || ! nombre.invalid" class="text-danger" i18n>Nombre incorrecto</small>
            </div>

            <div class="form-group row">
              <label for="apellido" class="col-md-4 col-form-label text-md-right" i18n>Apellido</label>
              <div class="col-md-5">
                <input placeholder="Apellido" i18n-placeholder type="text" id="apellido" class="form-control" name="apellido" formControlName="apellido" required autofocus>
              </div>
              <small [hidden]="apellido.pristine || ! apellido.invalid" class="text-danger" i18n>Apellido incorrecto</small>
            </div>

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
              <div class="col-md-5">
                <input placeholder="mail@ejemplo.org" i18n-placeholder type="text" id="email" class="form-control" name="email" formControlName="email" required autofocus>
              </div>
              <small [hidden]="email.pristine || ! email.invalid" class="text-danger" i18n>Email incorrecto</small>
            </div>

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right" i18n>Confirmar email</label>
              <div class="col-md-5">
                <input placeholder="mail@ejemplo.org" i18n-placeholder type="text" id="email" class="form-control" name="email" formControlName="confirmacionEmail" required autofocus>
              </div>
              <small [hidden]="email.pristine || ! confirmacionEmail.invalid" class="text-danger" i18n>Email no coincide</small>
            </div>

            <div class="form-group row">
              <label for="clave" class="col-md-4 col-form-label text-md-right" i18n>Clave</label>
              <div class="col-md-5">
                <input placeholder="Clave" i18n-placeholder type="password" id="clave" class="form-control" name="clave" formControlName="clave" required>
              </div>
              <small [hidden]="clave.pristine || ! clave.invalid" class="text-danger" i18n>Claves incorrecta</small>
            </div>

            <div class="form-group row">
              <label for="clave" class="col-md-4 col-form-label text-md-right" i18n>Confirmar clave</label>
              <div class="col-md-5">
                <input placeholder="Clave" i18n-placeholder type="password" id="clave" class="form-control" name="clave" formControlName="confirmacionClave" required>
              </div>
              <small [hidden]="clave.pristine || ! confirmacionClave.invalid" class="text-danger" i18n>Claves incorrecta</small>
            </div>

            <div class="form-group row justify-content-center">
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()" i18n>
                  Registrar
                </button>
              </div>
              <div class="col-md-4">
                <a href="/sesion/login" type="submit" class="btn btn-secondary btn-block" style="color: white">
                  Login
                </a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="verificando" class="row justify-content-center" style="margin-top:10px">
    <div class="col-md-6">
    <div class="alert alert-success">
      <h5 class="alert-heading" i18n>Registro iniciado</h5>
      <hr>
      <p i18n>Revise su bandeja de entrada para completar su verificacion</p>
    </div>
    </div>
  </div>
</div>
